body {
    color: white;
    background: #202731;
    font-family: 'Roboto', sans-serif;
}

mark {
    background-color: #D4A373;
}

.spacer {
    aspect-ratio: 300/50;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-evenly;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50%;
    padding: 5%;
}